<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/merek"></ion-back-button>
    </ion-buttons>

    <ion-title>Model</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of loadedProduct['Model']" [routerLink]="['./detail',item]">
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img [src]="loadedImage"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <b>{{ item }}</b>
          </ion-label>
        </ion-item> 
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid>

    <ion-row>
      <ion-col *ngFor="let item of loadedProduct['Model']">
        <ion-item>  
          <ion-row>
            <ion-lable>{{ item.Model }}</ion-lable>
            <a routerLink="/tipe" routerDirection="forward">
              <ion-img style="width: 150px; height: 70px; margin-top: 10px; margin-bottom: 10px;" src="https://www.grange.co.uk/upload/logo-aventador.png"></ion-img>
            </a>
            <ion-col style="align-self: center;">
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  
  </ion-grid> -->
</ion-content>
