<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/model"></ion-back-button>
    </ion-buttons>

    <ion-title>Tipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item>  
          <ion-row>
            <a routerLink="/detail" routerDirection="forward">
              <ion-img style="width: 150px; height: 70px; margin-top: 10px; margin-bottom: 10px;" src="https://i.imgur.com/nMRPHIV.png"></ion-img>
            </a>
            <ion-col style="align-self: center;">
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>  
          <ion-row>
            <a routerLink="/detail" routerDirection="forward">
              <ion-img style="width: 150px; height: 70px; margin-top: 10px; margin-bottom: 10px; align-self: center;" src="https://i.imgur.com/foaG3wh.png"></ion-img>
            </a>
            <ion-col style="align-self: center;">
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-item>  
          <ion-row>
            <a routerLink="" routerDirection="forward">
              <ion-img style="width: 150px; height: 70px; margin-top: 10px; margin-bottom: 10px; align-self: center;" src="https://www.kindpng.com/picc/m/481-4812642_lamborghini-urus-logo-vector-hd-png-download.png"></ion-img>
            </a>
            <ion-col style="align-self: center;">
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>
