<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Merek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row size="12" >
        <ion-col *ngFor="let item of Products" [size]="6" [routerLink]="['./model',item.ID]">

        <ion-item>  
          <ion-row>
            <ion-img style="width: 135px; height: 70px; margin-top: 10px; margin-bottom: 10px; align-self: center;" [src]="item.MerkImage"></ion-img>
            <ion-col style="align-self: center;">
              <ion-label class="item-content-12" style="text-align: center;">{{item.Merk}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons> -->
    
    <ion-buttons slot="end" (click)="toggleBtn()">
      <ion-button>
        <ion-icon name="grid" slot="end" [name]="List ? 'grid' : 'list'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Merek</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content *ngIf="List">
    
    <ion-card *ngFor="let item of Products" [routerLink]="['./model',item.ID]">
      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-thumbnail  slot="start">
              <ion-img [src]="item.MerkImage"></ion-img>
            </ion-thumbnail >
            <ion-label>
              <b>{{item.Merk}}</b>
            </ion-label>
          </ion-item> 
        </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-content>
  
  <ion-content *ngIf="!List">
    
    <ion-grid>
      <ion-row size="12">
        <ion-col *ngFor="let item of Products" [size]="6"  [routerLink]="['./model',item.ID]">
          <ion-item>
            <ion-row>
              <ion-img style="width: 130px; height: 70px; margin-top: 10px; margin-bottom: 10px; align-self: center; padding: 0px; margin: 0px;" [src]="item.MerkImage"></ion-img>
              <ion-col style="align-self: center;">
                <ion-label class="item-content-12" style="text-align: center;"><b>{{item.Merk}}</b><br></ion-label>
              </ion-col>
            </ion-row>
          </ion-item>
        
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>